/* .item {
  display: flex;
  flex-direction: row;
  list-style-type: disc;
  display: list-item;
} */
.item {
  height: 100px;
  width: 200px;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.isOnline {
  color: green;
}
.isOffline {
  color: red; /* Use a different color for offline friends */
}
